{% extends 'base.html' %}

{% block head %}
    <title>Auto JIRA</title>
{% endblock %}

{% block body %}
    <h1>Auto JIRA</h1>

    <div class="container">

        <form action="/" method="POST">
            <input type="text" name="task" id="task">
            <input type="submit" value="Add Query">
        </form>

        <br>

        <form action="/" method="POST">
            <input type="submit" value="Clone">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Query</th>
                    <th>Date Added</th>
                    <th>Clone</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td><input type="checkbox" name="selected" value="{{ task.id }}"></td>
                    <td><a href="/delete/{{task.id}}">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

        {% if clones %}
            <br>
            <h3>Cloned Items</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Query</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for clone in clones %}
                <tr>
                    <td>{{ clone.id }}</td>
                    <td>{{ clone.task }}</td>
                    <td>{{ clone.date_created.date() }}</td>
                    <td><a href="/delete/{{clone.id}}">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}